<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiang.dao.UserMapper">
	<resultMap type="com.jiang.entity.User" id="usermap">
		<id column="id" property="id" />
		<result column="email" property="email" />
		<result column="password" property="password" />
		<result column="is_admin" property="is_admin" />
	</resultMap>

	<!-- 根据邮箱查询用户信息 -->
	<select id="getUser" resultMap="usermap">
		select id,email,password,is_admin
		from users where email=#{email}
	</select>

	<!-- 注册添加用户 -->
	<insert id="insertUser" parameterType="com.jiang.entity.User">
		insert into users(email,
		password, is_admin)
		values(#{email}, #{password}, #{is_admin})
	</insert>
	
    <!-- 修改密码 -->
	<update id="updatePassword">
		UPDATE users SET password = #{password} WHERE email =
		#{email}
	</update>

	<!-- 查询所有用户 -->
	<select id="getAllUsers" resultMap="usermap">
		SELECT * FROM users
	</select>
	
	<!-- 根据ID查用户 -->
    <select id="getUserById" resultMap="usermap">
        SELECT * FROM users WHERE id = #{id}
    </select>
    
    <!-- 更新管理员 -->
    <update id="updateAdmin">
        UPDATE users
        SET is_admin = #{is_admin}
        WHERE id = #{id}
    </update>

    <!-- 删除用户 -->
    <delete id="deleteUser">
        DELETE FROM users WHERE email = #{email}
    </delete>
    

</mapper>